# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
.cache/

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# Strapi
backend/.cache/
backend/.tmp/
backend/build/
backend/.env
backend/.strapi-updater.json
backend/public/uploads/*
!backend/public/uploads/.gitkeep

# Temporary files
tmp/
temp/
